{% extends 'exam/base.html' %}

{% block content %}
<div class="card" style="width: 100;padding: 1%;">
  <div class="card-body text-center">
    <p class="h3 pb-2">理解度を編集する</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="Comprehension" value="全然わからない" checked>
            <label class="form-check-label" for="option1">
              全然わからない
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="Comprehension" value="ちょっとわかる">
            <label class="form-check-label" for="option2">
              ちょっとわかる
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="Comprehension" value="完全に理解した">
            <label class="form-check-label" for="option3">
              完全に理解した
            </label>
          </div>
        <div class="text-end">
            <a href="{% url 'exam:list'%}" class="btn btn-outline-primary">戻る</a>
            <button type="submit" class="btn btn-primary">編集する</button>
        </div>
    </form>
  </div>
</div>


{% endblock content %}